@mixin section-width() {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  min-height: 10px;
  @media #{$max-mobile-width} {
    max-width: $max-mobile-wrapper;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media #{$min-tablet-width} {
    max-width: $max-tablet-wrapper;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media #{$min-desktop-width} {
    max-width: $max-desktop-wrapper;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@mixin content-center() {
  margin-left: auto;
  margin-right: auto;
}
@mixin list-paddings() {
  @media #{$min-tablet-width} {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media #{$min-desktop-width} {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@mixin list-margins() {
  @media #{$min-tablet-width} {
    margin-left: 70px;
    margin-right: 70px;
  }
  @media #{$min-desktop-width} {
    margin-left: 130px;
    margin-right: 130px;
  }
}
@mixin gradient() {
  background: rgb(62,208,145);
  background: -moz-linear-gradient(left, rgba(62,208,145,1) 0%, rgba(40,190,202,1) 100%);
  background: -webkit-linear-gradient(left, rgba(62,208,145,1) 0%,rgba(40,190,202,1) 100%);
  background: linear-gradient(to right, rgba(62,208,145,1) 0%,rgba(40,190,202,1) 100%);
}
@mixin we-fast-grad-horiz() {
  background: rgb(28,183,227);
  background: -moz-linear-gradient(left, rgba(28,183,227,1) 0%, rgba(97,194,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(28,183,227,1) 0%,rgba(97,194,255,1) 100%);
  background: linear-gradient(to right, rgba(28,183,227,1) 0%,rgba(97,194,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cb7e3', endColorstr='#61c2ff',GradientType=1 );
}
@mixin we-fast-grad-vert() {
  background: rgb(28,183,227);
  background: -moz-linear-gradient(top, rgba(28,183,227,1) 0%, rgba(97,194,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(28,183,227,1) 0%,rgba(97,194,255,1) 100%);
  background: linear-gradient(to bottom, rgba(28,183,227,1) 0%,rgba(97,194,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cb7e3', endColorstr='#61c2ff',GradientType=0 );
}
@mixin utp-field-grad-horiz() {
  background: rgb(61,207,143);
  background: -moz-linear-gradient(left, rgba(61,207,143,1) 0%, rgba(79,226,162,1) 100%);
  background: -webkit-linear-gradient(left, rgba(61,207,143,1) 0%,rgba(79,226,162,1) 100%);
  background: linear-gradient(to right, rgba(61,207,143,1) 0%,rgba(79,226,162,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcf8f', endColorstr='#4fe2a2',GradientType=1 );
}
@mixin utp-field-grad-vert() {
  background: rgb(61,207,143);
  background: -moz-linear-gradient(top, rgba(61,207,143,1) 0%, rgba(79,226,162,1) 100%);
  background: -webkit-linear-gradient(top, rgba(61,207,143,1) 0%,rgba(79,226,162,1) 100%);
  background: linear-gradient(to bottom, rgba(61,207,143,1) 0%,rgba(79,226,162,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcf8f', endColorstr='#4fe2a2',GradientType=0 );
}