html {
  font-size: 0.625rem;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  background-color: $bg-main-color;
  font-family: $font-main;
  font-weight: 500;
  margin: 0px;
  color: $text-main-color;
}
input {
  font-family: $font-main;
  font-weight: 500;
  box-sizing: border-box;
  border-width: 0;
  transition: box-shadow 0.2s ease 0ms;
  @media #{$max-mobile-width} {
    box-shadow: 0 0 0 4px $button-border-color;
  }
  @media #{$min-tablet-width} {
    box-shadow: 0 0 0 3px $button-border-color;
  }
  @media #{$min-desktop-width} {
    box-shadow: 0 0 0 5px $button-border-color;
  }
}
input[type="submit"] {
  cursor: pointer;
}
input:hover {
  @media #{$max-mobile-width} {
    box-shadow: 0 0 0 4px $button-border-color-hover;
  }
  @media #{$min-tablet-width} {
    box-shadow: 0 0 0 3px $button-border-color-hover;
  }
  @media #{$min-desktop-width} {
    box-shadow: 0 0 0 5px $button-border-color-hover;
  }
}
input:active {
  @media #{$max-mobile-width} {
    box-shadow: 0 0 0 6px $button-border-color-hover;
  }
  @media #{$min-tablet-width} {
    box-shadow: 0 0 0 5px $button-border-color-hover;
  }
  @media #{$min-desktop-width} {
    box-shadow: 0 0 0 7px $button-border-color-hover;
  }
}
input:focus {
  outline-width: 0;
  border-width: 0;
}
button {
  transition: all 0.2s ease 0ms;
  font-family: $font-main;
  font-weight: 500;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
}
button:focus {
  outline-width: 0;
  border-width: 0;
}