@import "normalize.scss";

@import "global/fonts.scss";

@import "variables.scss";
@import "scaffolding.scss";
@import "mixins.scss";

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";

@import "owl.carousel/owl.carousel.scss";
@import "owl.carousel/owl.theme.default.scss";

@import "blocks/intro.scss";
@import "blocks/device-model.scss";
@import "blocks/promo.scss";
@import "blocks/departure.scss";
@import "blocks/we-fast.scss";
@import "blocks/funny.scss";
@import "blocks/utp-field.scss";
@import "blocks/partners.scss";
@import "blocks/feedback.scss";
@import "blocks/call-master.scss";
@import "blocks/page-footer.scss";
@import "blocks/callback-popup.scss";
@import "blocks/zvonilka.scss";
@import "blocks/sec-20-popup.scss";
@import "blocks/popup.scss";

@import "disable.scss";