$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 480px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1361px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1362px)";
$max-desktop-wrapper: 1400px;

$section-color: green;

$text-main-color: #000000;
$bg-main-color: #ffffff;
$font-main: "proxima_nova", "Arial", sans-serif;

$button-color: #f5d211;
$button-text-color: #000000;
$button-border-color: rgba(255, 255, 255, 0.25);
$button-border-color-hover: rgba(255, 255, 255, 0.4);
$input-placeholder-color: #888888;

$text-alt-color: #ffffff;
$link-color: #158ee4;

$toggle-color: #ffffff;
$toggle-color-active: #f5d211;

$table-border: #ededed;

$feeddots-color: #03b867;