$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 480px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1200px)";
$max-desktop-wrapper: 1400px;

$section-color: green;