@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_black_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_black_italic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_black-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_extrabold_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_extrabold_italic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_bold_italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_semibold_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_semibold_italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_regular_italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_light_italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_thin_italic-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_thin_italic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova/proxima_nova_thin-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova/proxima_nova_thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bolditalic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bolditalic.woff2') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto.woff2') format('woff2'),
         url('../fonts/roboto/roboto.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic.woff2') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-lightitalic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic.woff2') format('woff');
    font-weight: 300;
    font-style: italic;
}