.callback-popup {
  position: fixed;
  content: "";
  top: 50%;
  z-index: 40;
  width: 390px;
  background-color: $callback-popup-bg;
  box-sizing: border-box;
  transition: right 0.5s ease 0.3s;
  @media #{$max-mobile-width} {
    min-height: 36rem;
    padding-top: 50px;
    width: 100%;
    right: 0;
    transform: translateY(-18rem);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  @media #{$min-tablet-width} {
    min-height: 48rem;
    padding-top: 70px;
    right: 10px;
    transform: translateY(-24rem);
  }
}
.callback-popup_close-btn {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: transparent;
  left: 5px;
  top: 5px;
}
.callback-popup_close-btn::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: $callback-close;
  top: 50%;
  left: 10px;
  transform: rotate(45deg);
}
.callback-popup_close-btn::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: $callback-close;
  top: 50%;
  right: 10px;
  transform: rotate(-45deg);
}
.callback-popup__variant-field {
  display: flex;
}
.callback-popup__var-text {
  font-size: 1.6rem;
  font-weight: 300;
}
.callback-popup__not-found-field {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}
.callback-popup__not-found-title {
    font-weight: 300;
  @media #{$max-mobile-width} {
    font-size: 2rem;
  }
  @media #{$min-tablet-width} {
    font-size: 2.5rem;  
  }
}
.callback-popup__not-found-text {
  margin-top: 5px;
  font-weight: 300;
  @media #{$max-mobile-width} {
    font-size: 1.6rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
.callback-popup__form-field {
  display: flex;
  flex-direction: column;
  max-width: 308px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  @media #{$max-mobile-width} {
    margin-top: 0px;
  }
}
.callback-popup__form-input {
  width: 100%;
  height: 5.3rem;
  border-radius: 53px;
  font-size: 2.2rem;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}
.callback-popup__form-input--info {
  font-size: 1.8rem;
  font-weight: 300;
}
.callback-popup__form-input--submit {
  font-weight: 500;
  background-color: $button-color;
  margin-top: 20px;
}
.callback-popup__express-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.callback-popup--inactive {
  @media #{$max-mobile-width} {
    right: -5000px;
  }
  @media #{$min-tablet-width} {
    right: -5000px;
  }
}