.departure {
  width: 100%;
  background-color: $section-color;
}
.departure__wrapper {
  @include section-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    padding-top: 19px;
    padding-bottom: 20px;
    min-height: 97px;
  }
  @media #{$min-tablet-width} {
    padding-top: 18px;
    min-height: 158px;
  }
  @media #{$min-desktop-width} {
    padding-top: 78px;
    min-height: 298px;
  }
}
.departure__title {
  text-align: center;
  margin-top: 0;
  font-weight: 700;
  @media #{$max-mobile-width} {
    font-size: 2rem;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
    margin-bottom: 0;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;
  }
}
.departure__text {
  text-align: center;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    font-size: 1.6rem;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
  }
  @media #{$min-desktop-width} {
    font-size: 2rem;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  }
}