.device-model {
  width: 100%;
  background-color: $section-color;
  box-sizing: border-box;
}
.device-model__wrapper {
  @include section-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  padding-bottom: 20px;
  @media #{$max-mobile-width} {
  padding-top: 13px;
  }
  @media #{$min-tablet-width} {
    padding-top: 2px;
  }
  @media #{$min-desktop-width} {
    padding-top: 4px;
  }
}
.device-model__title {
  text-align: center;
  font-weight: 700;
  @media #{$max-mobile-width} {
    font-size: 2.6rem;
    line-height: 28px;
    margin-left: 30px;
    margin-right: 30px;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
    width: 440px;
    margin-bottom: 12px;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;
    width: 780px;
    margin-bottom: 16px;
  }
}
.device-model__etc {
  text-align: center;
  @media #{$max-mobile-width} {
    margin-top: 10px;
    font-size: 1.8rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.6rem;
    line-height: 17px;
    font-weight: 300;
  }
  @media #{$min-desktop-width} {
    font-size: 1.8rem;
    line-height: 30px;
  }
}
.device-model__toggle {
  position: relative;
  background-color: $toggle-color;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    margin-top: 34px;
    width: 184px;
    height: 4.8rem;
    border-radius: 4.8rem;
    border: solid 3px $button-color;
  }
  @media #{$min-tablet-width} {
    margin-top: 18px;
    width: 160px;
    height: 4.2rem;
    border-radius: 4.2rem;
    border: solid 2px $button-color;
  }
  @media #{$min-desktop-width} {
    margin-top: 30px;
    width: 234px;
    height: 6.2rem;
    border-radius: 6.2rem;
    border: solid 3px $button-color;
  }
}
.device-model__button {
  position: absolute;
  background-color: $toggle-color;
  @media #{$max-mobile-width} {
    width: 94px;
    height: 4.2rem;
    border-radius: 4.2rem;
    font-size: 1.7rem;
    font-weight: 700;
  }
  @media #{$min-tablet-width} {
    width: 83px;
    height: 3.8rem;
    border-radius: 3.8rem;
    font-size: 1.4rem;
    font-weight: 600;
  }
    @media #{$min-desktop-width} {
    width: 121px;
    height: 5.6rem;
    border-radius: 5.6rem;
    font-size: 1.9rem;
  }
}
.device-model__button--active {
  background-color: $toggle-color-active;
  z-index: 2;
}
.device-model__button--iphone {
  top: 0;
  left: 0;
}
.device-model__button--ipad {
  top: 0;
  right: 0;
}
.device-model__model-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: cornflowerblue;
  @media #{$max-mobile-width} {
    margin-top: 30px;
  }
  @media #{$min-tablet-width} {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  @media #{$min-desktop-width} {
    margin-top: 45px;
    margin-bottom: 18px;
  }
}
.device-model__model-item {
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
  @media #{$max-mobile-width} {
    height: 33px;
    border-radius: 33px;
    margin-right: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media #{$min-tablet-width} {
    height: 25px;
    border-radius: 25px;
    margin-right: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media #{$min-desktop-width} {
    height: 43px;
    border-radius: 43px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.device-model__model-item:last-child {
  margin-right: 0;
}
.device-model__model-item:hover {
  background-color: $toggle-color-active;
}
.device-model__model-number {
  @media #{$max-mobile-width} {
    font-size: 1.9rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.4rem;
  }
  @media #{$min-desktop-width} {
    font-size: 2.4rem;
  }
}
.device-model__break-list {
  @include list-margins;
  display: flex;
  flex-wrap: wrap;
  background-color: skyblue;
  align-self: stretch;
  padding-left: 0;
  @media #{$max-mobile-width} {
    margin-top: 7px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
.device-model__break-item {
  border-top: 1px solid $table-border;
  border-bottom: 1px solid $table-border;
  margin-top: -1px;
  @media #{$max-mobile-width} {
    width: 100%;
  }
  @media #{$min-tablet-width} {
    width: 50%;
  }
}
.device-model__break-item:nth-child(2n-1) {
  @media #{$min-tablet-width} {
    border-right: 1px solid $table-border;
  }
}
.device-model__break-item:nth-child(2n) {
  @media #{$min-tablet-width} {
    margin-left: -1px;
  }
}
.device-model__break-link {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: $text-main-color;
  @media #{$max-mobile-width} {
    font-size: 1.7rem;
    padding: 13px 11px 12px 11px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 8px 4px 6px 9px;
  }
  @media #{$min-desktop-width} {
    font-size: 1.8rem;
    padding: 17px 17px 17px 15px;
  }
}
.device-model__break-text {
  @media #{$min-tablet-width} {
    font-weight: 300;
  }
}
.device-model__break-type-cost {
  flex-shrink: 0;
  @media #{$min-tablet-width} {
    font-weight: 300;
  }
  @media #{$min-desktop-width} {
    font-weight: 500;
  }
}
.device-model__rubl {
  @media #{$max-mobile-width} {
    font-size: 1.4rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.2rem;
  }
  @media #{$min-desktop-width} {
    font-size: 1.2rem;
  }
}
.device-model__not-found {
  text-align: center;
  @media #{$max-mobile-width} {
    margin-top: 26px;
    font-size: 1.8rem;
    width: 225px;
  }
  @media #{$min-tablet-width} {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 17px;
    font-weight: 300;
  }
  @media #{$min-desktop-width} {
    margin-top: 34px;
    font-size: 1.8rem;
    line-height: 30px;
  }
}
.device-model__adaptive-text {
  @media #{$max-mobile-width} {
    display: none;
  }
}
.device-model__tel-number {
  color: $link-color;
  white-space: nowrap;
  @media #{$min-tablet-width} {
    font-weight: 700;
  }
}