.funny {
  width: 100%;
  background-color: $section-color;
}
.funny__wrapper {
  @include section-width;
  box-sizing: border-box;
  background-color: darkkhaki;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  @media #{$max-mobile-width} {
    padding-top: 50px;
    min-height: 237px;
  }
  @media #{$min-tablet-width} {
    padding-top: 30px;
  }
  @media #{$min-desktop-width} {
    padding-top: 102px;
  }
}
.funny__title {
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  background-color: gray;
  @media #{$max-mobile-width} {
    font-size: 2.6rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
    margin-bottom: 0;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;  
  }
}
.funny__text {
  text-align: center;
  background-color: gray;
  @media #{$max-mobile-width} {
    font-size: 1.7rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 13px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  @media #{$min-desktop-width} {
    font-size: 2rem;
    margin-top: 19px;
  }
}
.funny__spacebar {
  @media #{$max-mobile-width} {
    display: none;
  }
}
.funny__repaired-number {
  font-weight: 700;
  color: $button-color;
}
.funny__br {
  @media #{$min-tablet-width} {
    display: none;
  }
}
.funny__conveyor {
  text-align: center;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    width: 582px;
    margin-top: 56px;
    margin-bottom: 7px;
  }
  @media #{$min-desktop-width} {
    width: 1030px;
    margin-bottom: 88px;
  }
}