.intro {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  @include gradient;
  @media #{$max-mobile-width} {
    margin-top: -130px;
    background: rgb(94,214,172);
    background: -moz-linear-gradient(top, rgba(94,214,172,1) 0%, rgba(73,198,225,1) 100%);
    background: -webkit-linear-gradient(top, rgba(94,214,172,1) 0%,rgba(73,198,225,1) 100%);
    background: linear-gradient(to bottom, rgba(94,214,172,1) 0%,rgba(73,198,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ed6ac', endColorstr='#49c6e1',GradientType=0 );
  }
  @media #{$min-tablet-width} {
    margin-top: -70px;
    background: rgb(62,208,145);
    background: -moz-linear-gradient(left, rgba(62,208,145,0.8) 0%, rgba(29,183,228,0.8) 100%), url("../img/broken-display-bg-tablet.jpg");
    background: -webkit-linear-gradient(left, rgba(62,208,145,0.8) 0%,rgba(29,183,228,0.8) 100%), url("../img/broken-display-bg-tablet.jpg");
    background: linear-gradient(to right, rgba(62,208,145,0.8) 0%,rgba(29,183,228,0.8) 100%), url("../img/broken-display-bg-tablet.jpg");
    background-position: center 0;
    background-size: 100% auto;
  }
  @media #{$min-desktop-width} {
    margin-top: -123px;
    background: rgb(62,208,145);
    background: -moz-linear-gradient(left, rgba(62,208,145,0.8) 0%, rgba(29,183,228,0.8) 100%), url("../img/broken-display-bg.jpg");
    background: -webkit-linear-gradient(left, rgba(62,208,145,0.8) 0%,rgba(29,183,228,0.8) 100%), url("../img/broken-display-bg.jpg");
    background: linear-gradient(to right, rgba(62,208,145,0.8) 0%,rgba(29,183,228,0.8) 100%), url("../img/broken-display-bg.jpg");
    background-position: center 0;
    background-size: 100% auto;
  }
}
.intro::after {
  position: absolute;
  content: "";
  background-color: $bg-main-color;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    width: 55%;
    height: 63px;
    left: -20px;
    bottom: -43px;
    transform: rotate(4deg);
  }
  @media #{$min-desktop-width} {
    width: 55%;
    height: 70px;
    left: -20px;
    bottom: -38px;
    transform: rotate(4deg);
  }
}
.intro::before {
  position: absolute;
  content: "";
  background-color: $bg-main-color;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    width: 55%;
    height: 63px;
    right: -20px;
    bottom: -43px;
    transform: rotate(-4deg);
  }
  @media #{$min-desktop-width} {
    width: 55%;
    height: 70px;
    right: -20px;
    bottom: -38px;
    transform: rotate(-4deg);
  }
}
.intro__wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include section-width;
  @media #{$max-mobile-width} {
    min-height: 519px;
    padding-top: 145px;
    padding-bottom: 20px;
  }
  @media #{$min-tablet-width} {
    min-height: 451px;
    padding-top: 98px;
    padding-bottom: 28px;
  }
  @media #{$min-desktop-width} {
    min-height: 797px;
    padding-top: 182px;
    padding-bottom: 70px;
  }
}
.intro__down-arrow{
  position: absolute;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 50%;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    width: 28px;
    height: 7px;
    transform: translateX(-14px);
    bottom: 19px;
    background-image: url("../img/down-arrow.svg");
    background-size: 28px 7px;
  }
  @media #{$min-desktop-width} {
    width: 50px;
    height: 12px;
    transform: translateX(-25px);
    bottom: 34px;
    background-image: url("../img/down-arrow.svg");
    background-size: 50px 12px;
  }
}
.intro__title {
  margin-top: 0px;
  font-weight: 700;
  text-align: center;
  color: $text-alt-color;
  margin-bottom: 0;
  @media #{$max-mobile-width} {
    font-size: 3rem;
    line-height: 3.1rem;
    width: 265px;
    margin-bottom: 8px;
  }
  @media #{$min-tablet-width} {
    font-size: 4.5rem;
    width: 460px;
    margin-bottom: 20px;
  }
  @media #{$min-desktop-width} {
    font-size: 7.2rem;
    width: 750px;
    margin-bottom: 40px;
  }
}
.intro__utp-item {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    cursor: pointer;
    min-height: 140px;
  }
  @media #{$min-tablet-width} {
    min-height: 105px;
  }
  @media #{$min-desktop-width} {
    min-height: 160px;
  }
}
.intro__utp-item-text {
  position: relative;
  box-sizing: border-box;
  color: $text-alt-color;
  text-align: center;
  @media #{$max-mobile-width} {
    padding-top: 77px;
    font-size: 1.7rem;
    line-height: 1.8rem;
    max-width: 235px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding-top: 57px;
  }
  @media #{$min-desktop-width} {
    font-size: 2rem;
    line-height: 2.2rem;
    padding-top: 100px;
  }
}
.intro__utp-item-text::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center;
}
.intro__utp-item-text--1 {
  @media #{$min-tablet-width} {
    max-width: 200px;
  }
  @media #{$min-desktop-width} {
    max-width: 360px;
  }
}
.intro__utp-item-text--1::after {
  background-image: url("../img/30min.svg");
  @media #{$max-mobile-width} {
    width: 48px;
    height: 66px;
    transform: translateX(-24px);
    background-size: 48px 66px;
  }
  @media #{$min-tablet-width} {
    width: 36px;
    height: 48px;
    transform: translateX(-18px);
    background-size: 36px 48px;
  }
  @media #{$min-desktop-width} {
    width: 64px;
    height: 84px;
    transform: translateX(-32px);
    background-size: 64px 84px;
  }
}
.intro__utp-item-text--2 {
  @media #{$min-tablet-width} {
    max-width: 137px;
  }
  @media #{$min-desktop-width} {
    max-width: 290px;
  }
}
.intro__utp-item-text--2::after {
  background-image: url("../img/20min.svg");
  @media #{$max-mobile-width} {
    width: 66px;
    height: 66px;
    transform: translateX(-33px);
    background-size: 66px 66px;
  }
  @media #{$min-tablet-width} {
    width: 48px;
    height: 48px;
    transform: translateX(-24px);
    background-size: 48px 48px;
  }
  @media #{$min-desktop-width} {
    width: 84px;
    height: 84px;
    transform: translateX(-42px);
    background-size: 84px 84px;
  }
}
.intro__utp-item-text--3 {
  @media #{$min-tablet-width} {
    max-width: 110px;
  }
  @media #{$min-desktop-width} {
    max-width: 280px;
  }
}
.intro__utp-item-text--3::after {
  background-image: url("../img/quoliti.svg");
  @media #{$max-mobile-width} {
    width: 60px;
    height: 66px;
    transform: translateX(-33px);
    background-size: 60px 66px;
  }
  @media #{$min-tablet-width} {
    width: 42px;
    height: 48px;
    transform: translateX(-24px);
    background-size: 42px 48px;
  }
  @media #{$min-desktop-width} {
    width: 77px;
    height: 84px;
    transform: translateX(-42px);
    background-size: 77px 84px;
  }
}
.intro__utp-item-bold {
  font-weight: 700;
  color: $button-color;
}
.intro__form-field {
  @media #{$max-mobile-width} {
    display: flex;
    flex-direction: column;
    width: 255px;
    @include content-center;
  }
  @media #{$min-tablet-width} {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
.intro__conf-field {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media #{$max-mobile-width} {
    font-size: 1.4rem;
    margin-top: 10px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  @media #{$min-desktop-width} {
    font-size: 1.4rem;
    margin-top: 20px;
  }
}
.intro__conf-link {
  color: #f5d211;
}
.intro__form-field--mobile {
  @media #{$max-mobile-width} {
    display: none;
  }
}
.intro__form-input {
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    margin-top: 25px;
    font-size: 1.9rem;
    width: 255px;
    height: 4.5rem;
    border-radius: 4.5rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$min-tablet-width} {
    width: 175px;
    height: 3.1rem;
    border-radius: 3.1rem;
    font-size: 1.4rem;
    margin-top: 18px;
  }
  @media #{$min-desktop-width} {
    width: 310px;
    height: 5.5rem;
    font-size: 2.2rem;
    margin-top: 30px;
  }
}
.intro__form-input--info {
  color: $input-placeholder-color;
  font-weight: 300;
  @media #{$min-tablet-width} {
    padding-left: 18px;
    padding-right: 18px;
  }
  @media #{$min-desktop-width} {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.intro__form-input--submit {
  background-color: $button-color;
  color: $button-text-color;
}
.intro__call-button {
  @media #{$max-mobile-width} {
    margin-top: 25px;
    font-size: 1.9rem;
    width: 255px;
    height: 4.5rem;
    border-radius: 4.5rem;
    background-color: $button-color;
    box-shadow: 0 0 0 4px $button-border-color;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}
.intro__call-button:hover {
  @media #{$max-mobile-width} {
    box-shadow: 0 0 0 4px $button-border-color-hover;
  }
}
.intro__call-button:active {
  @media #{$max-mobile-width} {
    box-shadow: 0 0 0 6px $button-border-color-hover;
  }
}