.page-footer {
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  @media #{$max-mobile-width} {
    background-color: #49C6E0;
  }
  @media #{$min-tablet-width} {
    margin-top: -102px;
  }
  @media #{$min-desktop-width} {
    border-top: solid 2px rgba(255, 255, 255, 0.5);
    margin-top: -179px;
  }
}
.page-footer__wrapper {
  @include section-width;
  color: $text-alt-color;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    flex-direction: column;
    padding-top: 31px;
    padding-bottom: 24px;
  }
  @media #{$min-tablet-width} {
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 21px;
  }
  @media #{$min-desktop-width} {
    padding-top: 43px;
    padding-bottom: 55px;
  }
}
.page-footer__phone-number {
  color: $text-alt-color;
  @media #{$max-mobile-width} {
    font-size: 2rem;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}
.page-footer__copyright {
  position: relative;
  @media #{$max-mobile-width} {
    text-align: center;
    order: 2;
    font-size: 1.5rem;
    margin-top: 30px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.4rem;
    width: 250px;
  }
  @media #{$min-desktop-width} {
    font-size: 2.2rem;
    width: 350px;
  }
}
.page-footer__conf-link {
  color: #f5d211;
}
.page-footer__social-list {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding-left: 0;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    width: 102px;
  }
  @media #{$min-desktop-width} {
    width: 149px;
  }
}
.page-footer__social-item {
  transition: background-color 0.2s ease;
  background-color: $button-border-color;
  @media #{$min-tablet-width} {
    width: 41px;
    height: 41px;
    border-radius: 50%;
  }
  @media #{$min-desktop-width} {
    width: 59px;
    height: 59px;
    border-radius: 50%;
  }
}
.page-footer__social-item:hover {
  background-color: $button-color;
}
.page-footer__social-img {
  @media #{$min-tablet-width} {
    width: 41px;
    height: 41px;
  }
  @media #{$min-desktop-width} {
    width: 59px;
    height: 59px;
  }
}
.page-footer__logo-field {
  flex-shrink: 0;
  @media #{$max-mobile-width} {
    width: 217px;
    height: 38px;
    margin-top: 20px;
  }
  @media #{$min-tablet-width} {
    width: 149px;
    height: 26px;
  }
  @media #{$min-desktop-width} {
    width: 263px;
    height: 46px;
  }
}
.page-footer__logo {
  @media #{$max-mobile-width} {
    width: 217px;
    height: 38px;
  }
  @media #{$min-tablet-width} {
    width: 149px;
    height: 26px;
  }
  @media #{$min-desktop-width} {
    width: 263px;
    height: 46px;
  }
}