.partners {
  width: 100%;
  @media #{$max-mobile-width} {
    @include utp-field-grad-vert;
  }
  @media #{$min-tablet-width} {
    @include utp-field-grad-horiz;
  }
}
.partners__wrapper {
  color: $text-alt-color;
  box-sizing: border-box;
  @include section-width;
  display: flex;
  flex-direction: column;
  @media #{$max-mobile-width} {
    padding-top: 32px;
    padding-bottom: 20px;
  }
  @media #{$min-tablet-width} {
    padding-top: 27px;
    padding-bottom: 45px;
  }
  @media #{$min-desktop-width} {
    padding-top: 60px;
    padding-bottom: 95px;
  }
}
.partners__title {
  margin-top: 0;
  font-weight: 700;
  text-align: center;
  @media #{$max-mobile-width} {
    font-size: 2.6rem;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;
  }
}
.partners__list {
  padding-left: 0;
  @media #{$max-mobile-width} {
    margin-top: 0;
  }
  @media #{$min-desktop-width} {
    margin-top: 40px;
  }
}
.partners__item {
    background-position: center;
    background-repeat: no-repeat;
    @media #{$max-mobile-width} {
      width: 100%;
      height: 108px;
    }
    @media #{$min-tablet-width} {
      width: 100%;
      height: 61px;
    }
    @media #{$min-desktop-width} {
      width: 100%;
      height: 108px;
    }
}
.partners__item--1 {
  background-image: url("../img/sberbank.svg");
  @media #{$max-mobile-width} {
    background-size: 88px 61px;
  }
  @media #{$min-tablet-width} {
    background-size: 88px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 155px 108px;
  }
}
.partners__item--2 {
  background-image: url("../img/alexchoco.svg");
  @media #{$max-mobile-width} {
    background-size: 66px 61px;
  }
  @media #{$min-tablet-width} {
    background-size: 66px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 116px 108px;
  }
}
.partners__item--3 {
  background-image: url("../img/tander.svg");
  @media #{$max-mobile-width} {
    background-size: 78px 61px;
  }
  @media #{$min-tablet-width} {
    background-size: 78px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 138px 108px;
  }
}
.partners__item--4 {
  background-image: url("../img/2way-store.svg");
  @media #{$max-mobile-width} {
    background-size: 61px 61px;
  }
  @media #{$min-tablet-width} {
    background-size: 61px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 107px 108px;
  }
}
.partners__item--5 {
  background-image: url("../img/cluchavto.svg");
  @media #{$max-mobile-width} {
    background-size: 108px 13px;
  }
  @media #{$min-tablet-width} {
    background-size: 108px 13px;
  }
  @media #{$min-desktop-width} {
    background-size: 191px 23px;
  }
}
.partners__item--6 {
  background-image: url("../img/magnit.svg");
  @media #{$max-mobile-width} {
    background-size: 48px 39px;
  }
  @media #{$min-tablet-width} {
    background-size: 48px 39px;
  }
  @media #{$min-desktop-width} {
    background-size: 84px 69px;
  }
}
.partners__item--7 {
  background-image: url("../img/pyos.svg");
  @media #{$max-mobile-width} {
    background-size: 123px 31px;
  }
  @media #{$min-tablet-width} {
    background-size: 123px 31px;
  }
  @media #{$min-desktop-width} {
    background-size: 218px 55px;
  }
}
.partners__item--8 {
  background-image: url("../img/galya.svg");
  @media #{$max-mobile-width} {
    background-size: 84px 53px;
  }
  @media #{$min-tablet-width} {
    background-size: 84px 53px;
  }
  @media #{$min-desktop-width} {
    background-size: 149px 93px;
  }
}