.partners {
  width: 100%;
  background-color: $section-color;
  @media #{$max-mobile-width} {
    display: none;
  }
}
.partners__wrapper {
  color: $text-alt-color;
  box-sizing: border-box;
  @include section-width;
  background-color: midnightblue;
  @media #{$min-tablet-width} {
    padding-top: 32px;
    padding-bottom: 9px;
  }
  @media #{$min-desktop-width} {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.partners__title {
  margin-top: 0;
  font-weight: 700;
  text-align: center;
  @media #{$max-mobile-width} {
    font-size: 2.6rem;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
    margin-bottom: 0;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;
  }
}
.partners__list {
  @include list-margins;
  
  padding-left: 0;
  box-sizing: border-box;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  @media #{$min-tablet-width} {
    margin-top: 18px;
  }
  @media #{$min-desktop-width} {
    margin-top: 40px;
  }
}
.partners__item {
  @media #{$min-tablet-width} {
    width: 25%;
    height: 120px;
    background-color: black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  @media #{$min-desktop-width} {
    height: 200px;
  }
}
.partners__item--1 {
  background-image: url("../img/sberbank.svg");
  @media #{$min-tablet-width} {
    background-size: 88px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 155px 108px;
  }
}
.partners__item--2 {
  background-image: url("../img/alexchoco.svg");
  @media #{$min-tablet-width} {
    background-size: 66px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 116px 108px;
  }
}
.partners__item--3 {
  background-image: url("../img/tander.svg");
  @media #{$min-tablet-width} {
    background-size: 78px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 138px 108px;
  }
}
.partners__item--4 {
  background-image: url("../img/2way-store.svg");
  @media #{$min-tablet-width} {
    background-size: 61px 61px;
  }
  @media #{$min-desktop-width} {
    background-size: 107px 108px;
  }
}
.partners__item--5 {
  background-image: url("../img/cluchavto.svg");
  @media #{$min-tablet-width} {
    background-size: 108px 13px;
  }
  @media #{$min-desktop-width} {
    background-size: 191px 23px;
  }
}
.partners__item--6 {
  background-image: url("../img/magnit.svg");
  @media #{$min-tablet-width} {
    background-size: 48px 39px;
  }
  @media #{$min-desktop-width} {
    background-size: 84px 69px;
  }
}
.partners__item--7 {
  background-image: url("../img/pyos.svg");
  @media #{$min-tablet-width} {
    background-size: 123px 31px;
  }
  @media #{$min-desktop-width} {
    background-size: 218px 55px;
  }
}
.partners__item--8 {
  background-image: url("../img/galya.svg");
  @media #{$min-tablet-width} {
    background-size: 84px 53px;
  }
  @media #{$min-desktop-width} {
    background-size: 149px 93px;
  }
}