.promo {
    width: 100%;
    background-color: #779e9e;
}
.promo__wrapper {
  @include section-width;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-alt-color;
    position: relative;
    @media #{$max-mobile-width} {
      padding-top: 22px;
      padding-bottom: 36px;
    }
    @media #{$min-tablet-width} {
      padding-top: 12px;
      padding-bottom: 21px;
    }
    @media #{$min-desktop-width} {
      padding-top: 35px;
      padding-bottom: 53px;
    }
}
.promo__wrapper::after {
  @media #{$min-tablet-width} {
    position: absolute;
    top: -10px;
    left: 200px;
    content: "";
    z-index: 2;
    width: 79px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/promo-glass-tablet.png');
    background-size: 79px 190px;
  }
  @media #{$min-desktop-width} {
    top: -20px;
    left: 110px;
    width: 157px;
    height: 370px;
    background-image: url('../img/promo-glass-desktop.png');
    background-size: 154px 370px;
  }
}
.promo__title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  @media #{$max-mobile-width} {
    font-size: 2.6rem;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;
  }
}
.promo__subtitle {
  text-align: center;
  font-weight: 500;
  @media #{$max-mobile-width} {
    font-size: 1.8rem;
    max-width: 240px;
    margin-top: 3px;
    margin-bottom: 20px;
  }
  @media #{$min-tablet-width} {
    font-size: 1.5rem;
    margin-top: 1px;
    margin-bottom: 22px;
  }
  @media #{$min-desktop-width} {
    font-size: 2.7rem;
    margin-top: 7px;
    margin-bottom: 14px;
  }
}

.promo__form-field {
  display: flex;
  flex-direction: column;
  @media #{$min-desktop-width} {
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    padding-left: 290px;
    padding-right: 290px;
  }
}
.promo__form-field--tablet{
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    @media #{$max-tablet-width} {
      display: none;
    }
  }
}
.promo__form-input {
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    margin-top: 25px;
    width: 226px;
    height: 4.4rem;
    border-radius: 4.4rem;
    font-size: 2.1rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$min-tablet-width} {
    width: 175px;
    height: 3.3rem;
    border-radius: 3.3rem;
    font-size: 1.4rem;
    margin-top: 18px;
  }
  @media #{$min-desktop-width} {
    width: 235px;
    height: 4.5rem;
    font-size: 2.2rem;
    margin-top: 30px;
  }
}
.promo__form-input--info {
  color: $input-placeholder-color;
  font-weight: 300;
  @media #{$min-tablet-width} {
    padding-left: 18px;
    padding-right: 18px;
  }
  @media #{$min-desktop-width} {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.promo__form-input--submit {
  background-color: $button-color;
  color: $button-text-color;
}

.promo__call-button {
    background-color: $button-color;
    box-shadow: 0 0 0 4px $button-border-color;
    @media #{$max-mobile-width} {
      width: 226px;
      height: 4.4rem;
      border-radius: 4.4rem;
      font-size: 2.1rem;
    }
    @media #{$min-tablet-width} {
      width: 175px;
      height: 3.3rem;
      border-radius: 3.3rem;
      font-size: 1.4rem;
    }
    @media #{$min-desktop-width} {
      display: none;
    }
}
.promo__call-button:hover {
    box-shadow: 0 0 0 4px $button-border-color-hover;
}
.promo__call-button:active {
    box-shadow: 0 0 0 6px $button-border-color-hover;
}