.utp-field {
  width: 100%;
  background-color: $section-color;
}
.utp-field__wrapper {
  @include section-width;
  color: $text-alt-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: mediumseagreen;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    padding-top: 30px;
    padding-bottom: 56px;
    align-items: center;
  }
  @media #{$min-tablet-width} {
    padding-top: 8px;
    padding-bottom: 32px;
  }
  @media #{$min-desktop-width} {
    padding-top: 15px;
    padding-bottom: 95px;
  }
}
.utp-field__title {
  z-index: 2;
  align-self: center;
  text-align: center;
  font-weigth: 700;
  margin-bottom: 0;
  @media #{$max-mobile-width} {
    font-size: 2.6rem;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;
  }
}
.utp-field__br {
  @media #{$min-tablet-width} {
    display: none;
  }
}
.utp-field__spacebar {
  @media #{$max-mobile-width} {
    display: none;
  }
}
.utp-field__list {
  background-color: orchid;
  padding-left: 0;
  display: flex;
  box-sizing: border-box;
  @include list-paddings;
  @media #{$max-mobile-width} {
    flex-direction: column;
    margin-top: 0;
  }
  @media #{$min-tablet-width} {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -11px;
  }
}

.utp-field__item {
  box-sizing: border-box;
  position: relative;
  background-color: olive;
  @media #{$max-mobile-width} {
    padding-left: 80px;
    font-size: 17px;
    margin-top: 52px;
  }
  @media #{$min-tablet-width} {
    margin-top: 105px;
    text-align: center;
    font-size: 15px;
    width: 33%;
  }
  @media #{$min-desktop-width} {
    font-size: 22px;
    margin-top: 175px;
  }
}
.utp-field__item::before {
  position: absolute;
  content: "";
  background-color: mediumpurple;
  background-repeat: no-repeat;
  background-position: center;
  @media #{$max-mobile-width} {
    left: 12px;
    top: -10px;
    width: 62px;
    height: 62px;
  }
  @media #{$min-tablet-width} {
    left: 50%;
    top: -72px;
    width: 70px;
    height: 70px;
    transform: translateX(-35px);
  }
  @media #{$min-desktop-width} {
    left: 50%;
    top: -100px;
    width: 98px;
    height:98px;
    transform: translateX(-49px);
  }
}
.utp-field__item--1::before {
  background-image: url("../img/besplat-vyezd.svg");
  @media #{$max-mobile-width} {
    background-size: 49px 56px;
  }
  @media #{$min-tablet-width} {
    background-size: 46px 52px;
  }
  @media #{$min-desktop-width} {
    background-size: 64px 73px;
  }
}
.utp-field__item--2::before {
  background-image: url("../img/novye-detali.svg");
  @media #{$max-mobile-width} {
    background-size: 56px 55px;
  }
  @media #{$min-tablet-width} {
    background-size: 51px 51px;
  }
  @media #{$min-desktop-width} {
    background-size: 73px 72px;
  }
}
.utp-field__item--3::before {
  background-image: url("../img/garantiya.svg");
  @media #{$max-mobile-width} {
    background-size: 53px 55px;
  }
  @media #{$min-tablet-width} {
    background-size: 50px 52px;
  }
  @media #{$min-desktop-width} {
    background-size: 69px 72px;
  }
}
.utp-field__item--4::before {
  background-image: url("../img/nalbeznal.svg");
  @media #{$max-mobile-width} {
    background-size: 62px 45px;
  }
  @media #{$min-tablet-width} {
    background-size: 69px 51px;
  }
  @media #{$min-desktop-width} {
    background-size: 98px 72px;
  }
}
.utp-field__item--5::before {
  background-image: url("../img/mastera.svg");
  @media #{$max-mobile-width} {
    background-size: 51px 55px;
  }
  @media #{$min-tablet-width} {
    background-size: 46px 51px;
  }
  @media #{$min-desktop-width} {
    background-size: 66px 72px;
  }
}
.utp-field__item--6::before {
  background-image: url("../img/oborudovanie.svg");
  @media #{$max-mobile-width} {
    background-size: 56px 58px;
  }
  @media #{$min-tablet-width} {
    background-size: 61px 50px;
  }
  @media #{$min-desktop-width} {
    background-size: 89px 73px;
  }
}
.utp-field__bold {
  font-weight: 700;
}