.we-fast {
  width: 100%;
  color: $text-alt-color;
  background-color: $we-fast-bg;
}
.we-fast__wrapper {
  @include section-width;
  display: flex;
  flex-direction: column;
  @media #{$max-mobile-width} {
    padding-top: 12px;
  }
  @media #{$min-tablet-width} {
    padding-bottom: 16px;
  }
  @media #{$min-desktop-width} {
    min-height: 372px;
  }
}
.we-fast__title {
  text-align: center;
  font-weight: 700;
  @media #{$max-mobile-width} {
    font-size: 2.6rem;
    margin-left: 30px;
    margin-right: 30px;
  }
  @media #{$min-tablet-width} {
    font-size: 2.7rem;
  }
  @media #{$min-desktop-width} {
    font-size: 4.8rem;
    margin-top: 38px;
  }
}
.we-fast__dashes-field {
  z-index: 2;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    display: flex;
    justify-content: space-around;
    padding-left: 153px;
    padding-right: 153px;
    margin-top: 37px;
  }
  @media #{$min-desktop-width} {
    margin-top: 60px;
    padding-left: 280px;
    padding-right: 280px;
  }
}
.we-fast__dashes {
  background-repeat: repeat-x;
  background-position: 0 0;
  @media #{$min-tablet-width} {
    width: 112px;
    height: 2px;
    background-image: url("../img/dashes-horiz-tablet.png");
  }
  @media #{$min-desktop-width} {
    width: 196px;
    height: 3px;
    background-image: url("../img/dashes-horiz-desktop.png");
  }
}
.we-fast__list {
  @include list-paddings;
  display: flex;
  padding-left: 0;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$min-tablet-width} {
    margin-top: -37px;
    justify-content: space-between;
    padding-top: 82px;
  }
  @media #{$min-desktop-width} {
    margin-top: -21px;
  }
}
.we-fast__item {
  text-align: center;
  position: relative;
  @media #{$max-mobile-width} {
    font-size: 1.9rem;
    width: 100%;
  }
  @media #{$min-tablet-width} {
    font-size: 1.5rem;
    width: 168px;
  }
  @media #{$min-desktop-width} {
    font-size: 2rem;
    width: 300px;
  }
}
.we-fast__item::before {
  position: absolute;
  content: "";
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  @media #{$max-mobile-width} {
    top: -112px;
    width: 80px;
    height: 80px;
    transform: translateX(-40px);
    background-size: 80px 80px;
  }
  @media #{$min-tablet-width} {
    width: 60px;
    height: 60px;
    transform: translateX(-30px);
    background-size: 60px 60px;
    top: -75px;
  }
  @media #{$min-desktop-width} {
    width: 80px;
    height: 80px;
    transform: translateX(-40px);
    background-size: 80px 80px;
    top: -102px;
  }
}
.we-fast__item::after {
  position: absolute;
  content: "";
  left: 50%;
  background-repeat: repeat-y;
  background-position: 0 0;
  @media #{$max-mobile-width} {
    width: 2px;
    height: 36px;
    transform: translateX(-1px);
    bottom: -47px;
  }
  @media #{$min-tablet-width} {
    flex-shrink: 0;
  }
}
.we-fast__item--1 {
  @media #{$max-mobile-width} {
    margin-top: 130px;
  }
}
.we-fast__item--1::before {
  background-image: url("../img/site-zayavka.svg");
}
.we-fast__item--1::after {
  background-image: url("../img/dashes.png");
}
.we-fast__item--2 {
  @media #{$max-mobile-width} {
    margin-top: 169px;
  }
}
.we-fast__item--2::before {
  background-image: url("../img/time-select.svg");
}
.we-fast__item--2::after {
  background-image: url("../img/dashes.png");
}
.we-fast__item--3 {
  @media #{$max-mobile-width} {
    margin-top: 169px;
  }
}
.we-fast__item--3::before {
  background-image: url("../img/rocket.svg");
}
.we-fast__bold-text {
  font-weight: 700;
}